#stickyDiv.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.search-bar {
  padding-top: -20px;
  border-bottom: 1px solid #d5d5d5;
}

.search-item .photo {
  padding: 10px 10px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.search-item .photo img {
  height: auto;
  width: 150px;
  margin: 0 auto;
  width: 100%;
}

.jumbotron {
  padding: 10px 10px !important;
}

.navbar-brand {
  padding: 9px 15px !important;

  img {
    height: 35px;
    width: auto;
  }
}

.navbar {
  margin-bottom: 0 !important;
  a.btn.btn-default {
    margin-left: 5px;
  }
}

.search {
  padding-top: 15px;
}

.featured {
  background: #ededed;
  border: 1px solid #d5d5d5;
}

.col-item
{
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
}
.col-item .photo img
{
  height: auto;
  width: 300px;
  margin: 0 auto;
  width: 100%;
}

.col-item .photo {
  height: 200px;
  overflow: hidden;
  border-bottom: 1px solid #E1E1E1;
}

.col-item .info
{
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}

.col-item:hover .info {
  background-color: #f6f6f6;
}
.col-item .price
{
  float: left;
  padding: 5px 20px;

  h3 {
    margin-top: 5px;
  }
}

.col-item .price .name-truncate {
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
}

.col-item .more-info {
  padding: 10px 20px 0px;
}

.col-item .price h5
{
  line-height: 20px;
  margin: 0;
}

.price-text-color
{
  color: #219FD1;
}

.col-item .separator
{
  border-top: 1px solid #E1E1E1;
}

.clear-left
{
  clear: left;
}

.col-item .separator p
{
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.col-item .separator p i
{
  margin-right: 5px;
}
.col-item .btn-add
{
  width: 50%;
  float: left;
}

.col-item .btn-add
{
  border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
  width: 50%;
  float: left;
  padding-left: 10px;
}
.controls
{
  margin-top: 20px;
}
[data-slide="prev"]
{
  margin-right: 10px;

}

.list-group-item>.badge {
float: right;
width: 80px;
height: 50px;
margin-top: -20px;
padding: 18px 7px;
font-size: 15px;
}
