

table.table-hover(width='500')
      tr(ng-repeat='item in items | filter : { "canSwap" : true }')
        td(align='center', valign='center')
          img(src='{{item.image}}', width='350', height='260')
          br
          | Status: {{item.status}}
        td(ng-show='item.canSwap') Can swap: Yep
        td(ng-show='!item.canSwap') Swap approval pending.. 
       
      tr(ng-repeat='item in items | filter : { "canSwap" : false }')
        td(align='center', valign='center')
          img(src='{{item.image}}', width='350', height='260')
          br
          | Status: {{item.status}}
          p(ng-show='item.canSwap') Can swap: Yep
          p(ng-show='!item.canSwap') Swap approval pending..
          
