
p(ng-show="!pending.length") You have no pending swap requests!

.container(ng-show="pending") 
  .row
    .list-group(ng-repeat='item in pending')
      p Swap below item with your 
        a(ui-sref='items.show({itemId:item._id})') {{item.name}}
      .list-group-item(ng-repeat='swap in item.pending')
        img(src='{{swap.image}}', width='80', height='70')
        li: a(ui-sref='items.show({itemId:swap._id})') {{swap.name}}
        li Description: {{swap.description}}
        li Category: {{swap.category}} 
        span.glyphicon.glyphicon-user Swap request from: {{swap.userId.name}} 
        br
        span.glyphicon.glyphicon-chevron-right Status: {{swap.status}}
        span.badge.a.btn-info.glyphicon.glyphicon-ok(ng-click='acceptSwap(item._id, swap._id)') Approve
        span.badge.a.btn-info.glyphicon.glyphicon-remove Deny
        
