section.all-items(style='padding-top: 40px;')
  .container
    .row
      .col-md-12.search-item.jumbotron(ng-repeat='item in searchItems | filter : { name : search.name }')
        table(width='100%')
          tr
            td(width='15%', valign='middle')
              .photo.text-center
                img.img-responsive(src='{{item.image}}', alt="{{item.name}}")
            td.item(width='85%', valign="top")
              h3: a(ui-sref='items.show({itemId:item._id})') {{item.name}}
              h3.price-text-color ${{item.price}}
              h5 Swapped {{item.timesSwapped}} times.
              h5 Owned by: {{item.userId.name}}
              
