#replacementSpace

#stickyDiv
  .scroller
    .container-fluid.search-bar(ng-controller='SearchBarCtrl')
      .container
        .row
          .col-md-12.search
            form
              .form-group
                .input-group
                  input.form-control(ng-model='input.name', type='text', placeholder='Search')
                  span.input-group-btn
                    button.btn.btn-info(ng-click='search(input)'): i.fa.fa-search
