section.featured.container-fluid.hidden-xs
  .container
    .row
      .row(style='margin-bottom: 20px;')
        .col-md-9
          h3 Featured Items
        .col-md-3

      #carousel.carousel.slide(data-ride='carousel')
        .carousel-inner
          .item.active
            .row
              .col-sm-3(ng-repeat='item in featured track by $index', style='margin-bottom: 20px')
                .col-item
                  .photo
                    img.img-responsive(src='{{item.image}}', alt="{{item.name}}", height='260', width='350')
                  .info
                    .row
                      .price.col-md-12
                        h4.name-truncate {{item.name}}
                        h5(style='margin-top: 5px; color: #aaaaaa').name-truncate Owned by: 
                          a(ui-sref='users.show({userId:item.userId._id})') {{item.userId.name}}
                        
                        h4.price-text-color Valued at ${{item.price}}
                      .separator.clear-left
                      a.more-info.col-md-12.text-center(ui-sref='items.show({itemId:item._id})') More Information
                        //- a.btn.btn-info(ui-sref='items.show({itemId:item._id})') More information
                      .clearfix

section.all-items(style='padding-top: 40px;')
  .container
    .row
      .col-md-12
        table.table.table-hover
          thead
            tr
              th Image
              th Name
              th Owner
              th Category
              th Price
          tbody
            tr(ng-repeat='i in items track by $index')
              td: img(src='{{i.image}}', height='40', width='40')
              td: a(ui-sref='items.show({itemId:i._id})') {{i.name}}
              td: {{i.userId.name}}
              td: span.label.label-info(ng-repeat='element in i.category', style='margin-right: 10px;') {{element}}
              td ${{i.price}}
