nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') Open-Market
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-show='name')
        li: a(ui-sref='home', ng-click='logout()') {{name}}
      ul.nav.navbar-nav.navbar-right(ng-show='name')
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Items &nbsp;
            i.fa.fa-chevron-down
          ul.dropdown-menu(role='menu')
            li: a(href='#') My Items
            li.divider
            li: a(ui-sref='items.new', href='#') Add Item
            li.divider
            li: a(href='#') Pending Swaps
      ul.nav.navbar-nav.navbar-right(ng-show='!name')
        li: a(ui-sref='register') Register
        li: a(ui-sref='login') Login
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='home') Home
