h1 Registered users

#carousel.carousel.slide(data-ride='carousel')
  .carousel-inner
    .item.active
      .row
        .col-sm-3(ng-repeat='user in users', style='margin-bottom: 20px')
          .col-item
            .photo
              img.img-responsive(src='{{user.picture}}', alt="{{user.name}}", height='260', width='350')
            .info
              .row
                .price.col-md-12
                  a.name-truncate(ui-sref='users.show({userId:user._id})') {{user.name}}
                  h5(style='margin-top: 5px; color: #aaaaaa').name-truncate Account created on: {{user.createdAt}}
                  h4.price-text-color {{user.email}}
              

              







      
